* {
  box-sizing: border-box;
  /* border: 1px solid red; */ /* Use for debugging if needed */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

body {
  background-image: url('./lionfish.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#sidebar {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}

#main_container {
  height: 100%;
  overflow: hidden;
}

#WorldSVG {
  width: 100%;
  height: 100%;
  display: block;
}

svg#WorldSVG {
  width: 100%;
  height: 100%;
}

#yearSelector {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#errorMessage {
  color: red;
  font-weight: bold;
}

#observationCount {
  font-size: 2em;
  font-weight: bold;
}

.slider-container {
  max-width: 500px;
  width: 100%;
}

.rubik-microbe-regular {
  font-family: "Rubik Microbe", system-ui;
  font-weight: 650;
  font-style: normal;
  font-size: 5em;
}

#map_title {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  font-weight: bold;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
